/* Sidebar styles */
.sidebar {
    background-color: #1A181F;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
    color: white;
    border-right: 1px solid #ccc;
}

/* Logo styles */
.sidebar .side-hearder .logo img {
    width: 100%; 
    
}


.features {
    margin-top: 80px;
    }
ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: relative;
    padding-right: 10px;
    padding-left: 10px; 
    margin-top: 15px; 
}

/* Sidebar icon styling */
ul li a i {
    color: #824575;
    font-size: 27px;
    padding-right: 15px;
}


.playlist a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-right: 10px;
}


.playlist .plus {
    font-size: 30px;
    color: #824575;
    font-weight: 400;
    display: inline-block;
}


.line {
    width: 100%;
    height: 1px;
    background-color: rgb(90, 89, 89);
    margin: 20px 0;
}


ul li {
    list-style-type: none;
}


.image {
    width: 150px;
    position: absolute;
    top: 0;
}

.side-hearder {
    margin-bottom: 30px; 
}
.plus{
    margin-left: 120px;
   
}
